body{
    padding-bottom: 500px;
}

h3{
    color: green;
}

/*classes*/
.meuparagrafo{
    background-color: black;
    color: aqua;
    padding: 5px;
}

#titulo-exclusivo
{
    background-color: purple;
    color: bisque;
    padding: 10px;
}

.larguraaltura{
    height: 200px;
    width: 100px;
    background-color: red;
}

.larguraaltura-2{
    height: 300px;
    background-color: chocolate;
}

.padding{
    background-color: #111;
    color: #FFF;
    padding: 20px;
}

.borda{
    border: 5px solid rebeccapurple;
    padding: 10px;
}